@charset "UTF-8";

/* ----------------- ПЕРЕМЕННЫЕ --- */
:root {
  --color-white: #ffffff;
  --color-black: #01020a;
  --color-tile: #108c89;
  --color-botanic: #124844;
  --color-smoky: #272930;
  --color-photon: #88e3e1;
  --color-silver-chalice: #ACACAC;
}

body {
  background-color: var(--color-black);
  font-family: "Exo 2";
  font-style: normal;
}

/*переменные*/
/* ----------------- HEADER --- */
/* header css */
* {
  margin: 0;
  padding: 0;
}

header {
  max-width: 1920px;
  height: 130px;
  background-color: var(--color-botanic);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 504px;
  padding-right: 375px;
}

.logo {
  margin-top: 65px;
  margin-bottom: 25px;
}

.menu {
  display: flex;
  margin: 56px;
}

.menu li {
  margin-left: 45px;
}

.menu li a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

/* ----------------- MAIN --- */
/* ----------------- FOOTER --- */
/* ----------------- FONTS --- */
/* ------------------  Exo 2 --- */
@font-face {
  font-family: "Exo 2";
  src: url("../Fonts/Exo_2/Exo2-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../Fonts/Exo_2/Exo2-Regular.eot?#iefix") format("embedded-opentype"), url("../Fonts/Exo_2/Exo2-Regular.woff2") format("woff2"), url("../Fonts/Exo_2/Exo2-Regular.woff") format("woff"), url("../Fonts/Exo_2/Exo2-Regular.ttf") format("truetype"), url("../Fonts/Exo_2/Exo2-Regular.svg#Exo2-Regular") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../Fonts/Exo_2/Exo2-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../Fonts/Exo_2/Exo2-SemiBold.eot?#iefix") format("embedded-opentype"), url("../Fonts/Exo_2/Exo2-SemiBold.woff2") format("woff2"), url("../Fonts/Exo_2/Exo2-SemiBold.woff") format("woff"), url("../Fonts/Exo_2/Exo2-SemiBold.ttf") format("truetype"), url("../Fonts/Exo_2/Exo2-SemiBold.svg#Exo2-SemiBold") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../Fonts/Exo_2/Exo2-LightItalic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../Fonts/Exo_2/Exo2-LightItalic.eot?#iefix") format("embedded-opentype"), url("../Fonts/Exo_2/Exo2-LightItalic.woff2") format("woff2"), url("../Fonts/Exo_2/Exo2-LightItalic.woff") format("woff"), url("../Fonts/Exo_2/Exo2-LightItalic.ttf") format("truetype"), url("../Fonts/Exo_2/Exo2-LightItalic.svg#Exo2-LightItalic") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ------------------  Open Sans --- */
@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans/OpenSans-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../Fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../Fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../Fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../Fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*шрифты*/
/*# sourceMappingURL=styles.css.map */

.ftr {
  background-color: var(--color-smoky);
  height: 93px;
  margin: 0 auto;
  max-width: 1920px;
}

.info {
  color: var(--color-silver-chalice);
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  padding: 35px;
}